# List of folders and files to be excluded from the docker image
.devcontainer
.github
.pytest_cache
.ruff_cache
**/__pycache__/

# _version.py updated when image is built
**/_version.py

# virtualenv stuff - this gets built by the docker script
.venv
activate
tmp
